# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio workspace
.vs/

# User-specific project files
*.vcxproj.user
*.suo

# Build directories
x64/
Debug/
Release/

# IntelliSense / compiler cache
*.log
*.idb
*.ipch
*.tlog/
*.ifc*
*.module.json
*.recipe

# Backup / layout files
*.suo
*.user
*.userosscache
*.sln.docstates

# macOS
*.DS_Store

# Windows
Thumbs.db